*{
    margin: 0px;
    padding: 0px;
}
.footer{
  width: 100%;
}
.footer h6{
     margin-top: 40px;
}
.footer p{
    font-size: 12px;
}
.form{
    text-align: center;
}
.home img{
  width: 20px;
height: 20px;
top: 189px;
left: 556px;
}
.home p{
  font-size: 12px;
}
.b{
  margin-left: 300px;
}
.nav img{
  width: 10px;
height: 8.25px;
top: 293px;
left: 464px;
}
.body img{
  width: 141px;
height: 103px;
top: 422px;
left: 326px;
}
.span{
  background-color: #F3F9FF;
  width: 135px;
height: 118px;
top: 347px;
left: 1099px;
border-radius: 0px, 0px, 12px, 12px;
text-align: center;
}
.body{
  margin-top: 20px;
}
.cat{
  background-color: #FFF4ED;
  width: 350px;
height: 116px;
top: 1351px;
left: 539px;
border-radius: 12px;
}
.cat p{
  margin-left: 20px;
}
.p img{
  width: 20px;
height: 15px;
top: 1515px;
left: 517px;
}
.base img{
  width: 141px;
height: 103px;
margin-left: 40px;
}
.x{
  font-size: 12px;
}
.base h3{
  margin-top: 40px;
  font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
}
button{
  width: 200px;
height: 48px;
border-radius: 12px;
}
.base1 h1{
  width: 398px;
height: 88px;
font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.nav a{
  color:white;
}
@media(max-width: 454px){
	.footer{
    width:100%
  }
}
@media(max-width:627px){
  .nav a{
    font-size: 12px;
  }
}
